* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #1c1c1c;
  color: #ddd;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

main {
  background-color: #1c1c1c;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
}

h1,
h2,
h5 {
  background-color: #f0ad4e;
  height: 40px;
  text-align: center;
  text-decoration: underline;
  color: #123;
}

h3,
h4 {
  color: #eee9e2;
  text-decoration: underline;
}

p {
  color: beige;
}

ul,
li {
  margin: 0;
  padding: 0;
  color: #eee9e2;
}

.link {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}

.bhab {
  text-align: center;
}

/* Navbar */
.navbar {
  background-color: #1c1c1c;
}
.navbar .navbar-nav .nav-link {
  color: #f5f5f5;
  font-weight: 500;
  transition: color 0.3s ease;
}
.navbar .navbar-nav .nav-link:hover {
  color: #00bfff;
}
.navbar .navbar-nav .nav-link.active {
  color: white;
  font-weight: bold;
}
.navbar .navbar-nav .nav-item {
  margin: 0 20px;
}

/* Inicio */
#armas {
  text-align: center;
}
#armas h4 {
  text-decoration: none;
}

.maps {
  margin-bottom: 30px;
  padding: 0;
}
.maps h3 {
  margin-bottom: 10px;
  color: #ffd700;
  text-align: center;
}
.maps .mapaConte {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 20px;
  align-items: center;
  border: 2px dashed #f0ad4e;
  border-radius: 12px;
  padding: 15px;
}
.maps .mapaConte img {
  max-width: 100%;
  border-radius: 8px;
}

/* Habilidades */
.habilidadesContenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}
.habilidadesContenedor .habilidad {
  width: 262px;
  text-align: start;
  border-radius: 18px;
  padding: 25px;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.08);
  background-color: #123;
  transition: 2s;
}
.habilidadesContenedor .habilidad:hover {
  transform: translate(40px, -20px);
}
.habilidadesContenedor .habilidad .img {
  width: 80px;
  height: 70px;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}
.habilidadesContenedor .habilidad .descripcion {
  margin-top: 15px;
  font-size: 15px;
  color: white;
  font-weight: 500;
}
.habilidadesContenedor .habilidad .lineasContenedor {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.habilidadesContenedor .habilidad .lineasContenedor .lineaCaja {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.habilidadesContenedor .habilidad .lineasContenedor .lineaCaja::before {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background: #1e3a8a;
  margin-bottom: 4px;
}
.habilidadesContenedor .habilidad .lineasContenedor .lineaCaja .lineaTitulo {
  font-size: 15px;
  font-weight: 600;
  color: #123;
  margin: 0;
}
.habilidadesContenedor .habilidad .lineasContenedor .lineaCaja .lineaTexto {
  font-size: 14px;
  color: #1a1a1a;
  max-width: 100px;
}

/*HABILIDADES BASE*/
.ulhab {
  text-align: center;
}

.bhab {
  text-align: center;
}

p {
  text-align: start;
}

li {
  text-align: start;
  text-decoration: underline;
}

.thab {
  color: #1c1c1c;
  width: 30%;
  background-color: #f0ad4e;
  text-align: center;
  margin: auto;
}
.thab td, .thab th {
  text-align: center;
}

/* Rasgos */
h3 {
  padding: 30px;
}

.accordionPositivo .accordion-button {
  background-color: #1c1c1c;
  color: #006600;
  border: 1px solid #66cc66;
}
.accordionPositivo .accordion-button:not(.collapsed) {
  background-color: #006600;
  color: white;
}
.accordionPositivo .accordion-body {
  background-color: #1c1c1c;
  border-left: 3px solid #66cc66;
}

.accordionNegativo .accordion-button {
  background-color: #1c1c1c;
  color: #ff4d4d;
  border: 1px solid #ff6666;
}
.accordionNegativo .accordion-button:not(.collapsed) {
  background-color: #ff4d4d;
  color: white;
}
.accordionNegativo .accordion-body {
  background-color: #1c1c1c;
  border-left: 3px solid #ff4d4d;
}

/* Footer */
footer {
  background-color: #1c1c1c;
  color: #ddd;
  margin-top: 1px;
  text-align: center;
}
footer .footer-container {
  padding: 30px;
  max-width: 900px;
  margin: auto;
}
footer .footer-links {
  margin: 10px 0;
}
footer .footer-links a {
  color: #9acd32;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
  transition: color 0.3s;
}
footer .footer-links a:hover {
  color: #c2ff4d;
}
footer .footer-quote {
  font-style: italic;
  font-size: 0.9rem;
  margin-top: 10px;
  color: #aaa;
}

@media (max-width: 480px) {
  main {
    line-height: 1.6;
  }
  .link {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
  }
  .maps {
    display: grid;
    grid-template-rows: 1fr 3fr;
    justify-items: center;
    padding-top: 8px;
    border-radius: 18px;
  }
  .habilidadesContenedor {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
  }
  .habilidadesContenedor .descripcion {
    color: #eee9e2;
  }
  .habilidadesContenedor .lineasContenedor {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 6px;
  }
  .habilidadesContenedor .lineasContenedor .lineaCaja::before {
    text-align: center;
    width: 60px;
  }
  .habilidadesContenedor .lineasContenedor .lineaTitulo,
  .habilidadesContenedor .lineasContenedor .lineaTexto {
    font-size: 20px;
    text-align: center;
  }
  .habilidadesContenedor .lineasContenedor .lineaTitulo {
    color: black;
    text-decoration: underline;
  }
  .ulhab {
    text-align: center;
  }
  .bhab {
    text-align: center;
  }
  li {
    text-align: center;
    text-decoration: underline;
  }
  .thab {
    color: #1c1c1c;
    width: 100%;
    background-color: #f0ad4e;
  }
  .thab td, .thab th {
    text-align: center;
  }
  .acordeones-contenedor {
    grid-template-columns: 1fr;
    margin: 2rem;
  }
  footer {
    margin-top: 0;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  main {
    line-height: 1.5;
  }
  .link {
    font-size: 21px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .maps {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 10px;
    border-radius: 12px;
  }
  .maps h3 {
    font-size: 1.2rem;
  }
  .maps .mapaConte {
    grid-template-columns: 200px 1fr;
  }
  .habilidadesContenedor {
    flex-wrap: wrap;
    gap: 40px;
  }
  .habilidadesContenedor .habilidad {
    width: 320px;
  }
  .habilidadesContenedor .descripcion {
    font-size: 16px;
  }
  .lineasContenedor {
    flex-direction: row;
    gap: 10px;
  }
  .lineasContenedor .lineaCaja::before {
    width: 70px;
  }
  .lineasContenedor .lineaTitulo,
  .lineasContenedor .lineaTexto {
    font-size: 18px;
  }
  .thab {
    width: 80%;
    margin: auto;
  }
  .acordeones-contenedor {
    grid-template-columns: 1fr 1fr;
    margin: 1.5rem;
  }
  footer {
    margin-top: 10px;
  }
  footer .footer-quote {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=estilos.css.map */
