// Colores principales
$color-bg: #1c1c1c;
$color-text: #ddd;
$color-primary: #f0ad4e;
$color-secondary: #123;
$color-light: #eee9e2;
$color-link: #9acd32;
$color-link-hover: #c2ff4d;

// Otros
$font-main: 'Roboto', sans-serif;
$font-alt: Arial, Helvetica, sans-serif;
